<launch>
    <include file="$(find socspioneer)/p2os_laser.launch"/>
    
    <node name="odom_to_map" pkg="tf" type="static_transform_publisher" args="1 0 0 0 0 0 1 /map /odom 100"/>

    <node name="map_server" pkg="map_server" type="map_server" args="$(find socspioneer)/../map/cs_lgfloor.yaml"/>

    <node name="rviz" pkg="rviz" type="rviz"/>

    <node name="amcl" pkg="amcl" type="amcl"/>

    <!--<node name="pf" pkg="pf_localisation" type="node.py"/>-->
</launch>
